# Copyright (c) 2016 Kazumasa Kohtaka. All rights reserved.
# This file is available under the MIT license.

[Unit]
Description=Concourse
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
	--name %p \
	--net host \
	--env-file /etc/default/concourse \
	--volume /etc/concourse:/etc/concourse \
	concourse/concourse:{{ concourse_version }} web
ExecStop=-/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
