# Copyright (c) 2016 Kazumasa Kohtaka. All rights reserved.
# This file is available under the MIT license.

CONCOURSE_NAME={{ inventory_hostname_short }}
CONCOURSE_WORK_DIR=/var/concourse

CONCOURSE_TSA_HOST={{ tsa_address }}
CONCOURSE_TSA_PORT=2222
CONCOURSE_TSA_PUBLIC_KEY=/etc/concourse/keys/tsa_host_key.pub
CONCOURSE_TSA_WORKER_PRIVATE_KEY=/etc/concourse/keys/worker_key

CONCOURSE_GARDEN_MAX_CONTAINERS=10
CONCOURSE_GARDEN_DEFAULT_GRACE_TIME=180
CONCOURSE_GARDEN_DESTROY_CONTAINERS_ON_STARTUP=true
